*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 10vh;
    background-color:#66f4;
}
.game{
    background-color: #000000;
    height: 120vh;
    width: 95%;
    margin-left: 2.5%;
   
}
.skin{
   background-color: #d0ff00;
   width: 100%;
   height: 40vh;
   flex-direction: column; 
}
.vava{
   display: flex;
   justify-content: space-between;
   gap: 20px;
   width: 100%;
   height: 40vh;
}
.cs{
   display: flex;
   justify-content: space-between;
   gap: 20px;
   width: 100%;
   height: 40vh;
   background-color: #fc0000;
}
footer{
    background-color: #cf3333;
    width: 100%;
    height: 5vh;
}